
<h1>Ajouter un Supermarché</h1>
<form action="/ajouter" method="POST">
  <div class="form-group">
    <label for="nom">Nom du Supermarché</label>
    <input type="text" class="form-control" id="nom" name="nom" required>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
