
<h1>Ajouter un Magasin</h1>
<form action="/ajouter" method="POST">
  <div class="form-group">
    <label for="nom">Nom du Magasin</label>
    <input type="text" class="form-control" id="nom" name="nom" required>
  </div>
  <div class="form-group">
    <label for="ville">Region</label>
    <input type="text" class="form-control" id="ville" name="ville" required>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
