
<h1>Liste des Supermarchés</h1>
<a href="/ajouter" class="btn btn-primary mb-3">Ajouter un Supermarché</a>
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% supermarkets.forEach(function(market) { %>
      <tr>
        <td><%= market.nom %></td>
        <td>
          <a href="/supermarkets/<%= market._id %>" class="btn btn-info">Voir</a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
